/*!
 * Art of Adventuring Theme
 */

@import "bootstrap/bootstrap.less";
@import "woocommerce/activation.less";
@import "woocommerce/admin.less";
@import "woocommerce/chosen.less";
@import "woocommerce/menu.less";
@import "woocommerce/mixins.less";
@import "woocommerce/prettyPhoto.less";
@import "woocommerce/woocommerce-base.less";
@import "woocommerce/woocommerce.less";

// ==========================================================================
//   Base
// ==========================================================================

body {
  padding-top: 30px;
  border-top: 3px solid #381e17;
}

h1, h2, h3, h4 {
  a {
    color: #3e433e;
  }
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#socialbar.affix {
  top: 0;
  max-width: 750px;
  width:100%;
}

#socialbar {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  text-align: center;
  height: 50px;
  z-index: 100;
}

#twitter-widget-0 {
  vertical-align: middle;
}

// ==========================================================================
//   WP Facet Customizations
// ========================================================================== 
.facetwp-selections {
  ul {
    padding-left: 0;
  }
  li span {
    font-size: 14px;
  }
}

.facetwp-counter {
  display:none;
}

.facetwp-facet {
  font-size: 1em;
  margin-bottom: 40px;
  padding-left: 13px
}

.facetwp-type-checkboxes,
.facetwp-type-hierarchy {
  overflow: auto;
  max-height: 300px;
}

.facetwp-checkbox {
  background: url(../img/checkbox.png) no-repeat;
  margin-bottom: 4px;
  padding-left: 20px;
  cursor: pointer;
}

.facetwp-checkbox.checked {
  background: url(../img/checkbox-on.png) no-repeat;
}

.facetwp-pager-label {
  display: inline-block;
  margin-right: 12px;
}

.facetwp-page {
  display: inline-block;
  padding: 0px 4px;
  margin-right: 6px;
  cursor: pointer;
}

.facetwp-page.active {
  font-weight: bold;
  cursor: default;
}

.facetwp-loading {
  width: 20px;
  height: 20px;
  background: url(../img/spinner.gif) no-repeat;
}

/* Hierarchy facets */

.facetwp-depth .facetwp-depth {
  margin-left: 12px;
}

.facetwp-link {
  cursor: pointer;
}

.facetwp-link.checked {
  font-weight: bold;
  cursor: default;
}

.facetwp-toggle {
  cursor: pointer;
}

.facetwp-hidden {
  display: none;
}

/* Slider facets */

.facetwp-type-slider {
  text-align: center;
}

.facetwp-slider-wrap {
  padding-bottom: 15px;
}

.facetwp-slider-reset {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
  padding: 4px 8px;
  cursor: pointer;
}

.noUi-target {
  padding: 0 15px;
}

/* Selections shortcode */

.facetwp-selections li {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-right: 20px;
  cursor: pointer;
}

.facetwp-remove-selection {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background: url(../img/icon-close.png) no-repeat;
}


// ==========================================================================
//   Icons
// ========================================================================== 

@font-face {
  font-family: 'aoaicons';
  src:url('@{icon-font-path}aoaicons.eot?uf1eei');
  src:url('@{icon-font-path}aoaicons.eot?#iefixuf1eei') format('embedded-opentype'),
    url('@{icon-font-path}aoaicons.woff?uf1eei') format('woff'),
    url('@{icon-font-path}aoaicons.ttf?uf1eei') format('truetype'),
    url('@{icon-font-path}aoaicons.svg?uf1eei#aoaicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="aoaicon-"], [class*=" aoaicon-"] {
  font-family: 'aoaicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  transition: color 500ms ease-out;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aoaicon-twitter:before {
  content: "\e600";
}
.aoaicon-facebook:before {
  content: "\e601";
}
.aoaicon-instagram:before {
  content: "\e602";
}
.aoaicon-google-plus:before {
  content: "\e603";
}
.aoaicon-feed:before {
  content: "\e604";
}

// ==========================================================================
//   Header
// ==========================================================================

.logo, .nav-main {
  padding-bottom: 15px;
}

.article_newsletter {
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  background: #381e17;
  color: #fff;
  h3 {
    margin-top: 0;
  }
  .input-group {
    max-width: 450px;
    margin:0 auto;
  }
}

.navbar-static-top {
  border: 0px;
}

.nav-pills>li>a {
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
  color: #000;
}

.search-form {
  width: 250px;
}

.search-field {
  width: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  z-index: 2;
  border: 1px solid #a09c42;
  float: left;
  margin-bottom: 0px;
  display: table-cell;
  height: 31px;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus {
    border-color: #ceb590;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(206, 181, 144, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(206, 181, 144, 0.6);
  }
}

.header-right {
  height: 175px;
  .search-form {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .nav-main {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}


// ==========================================================================
//   Social Icons
// ==========================================================================

.socialicons {
  font-size: 2em;
  text-align: center;
  padding-top: 15px;
}

a.aoaicon-twitter {
    color: #fff;
    &:hover {
      color: #00aced;
      text-decoration: none;
    }
}

a.aoaicon-facebook {
    color: #fff;
    &:hover {
      color: #3b579d;
      text-decoration: none;
    }
}

a.aoaicon-instagram {
    color: #fff;
    &:hover {
      color: #dbd2c3;
      text-decoration: none;
    }
}

a.aoaicon-feed {
    color: #fff;
    &:hover {
      color: #FF6600;
      text-decoration: none;
    }
}

a.aoaicon-google-plus {
    color: #fff;
    &:hover {
      color: #c12026;
      text-decoration: none;
    }
}

// ==========================================================================
//   Content
// ==========================================================================

.page-header {
  padding-bottom: 15px;
  margin: 15px 0 15px;
  border-bottom: 0px;
}

.entrymeta, .categorylist {
  text-align: center;
  font-style: italic;
  color: #ddd;
  a {
    color: #ddd;
  }
}

.hentry {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-top:15px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

// ==========================================================================
//   Primary Content
// ==========================================================================

// Gallery Shortcode
.gallery-row { padding: 15px 0; }

// ==========================================================================
//   Sidebar
// ==========================================================================

.sidebar_destinations {
  margin-top: 75px;
}

// ==========================================================================
//   Posts
// ==========================================================================

#coverhero {
  height: 420px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  text-align: center;
  color: #fff;
  .entry-title {
    text-shadow: 0px 0px 50px rgba(0,0,0,0.7);
  }
}

.coverhero-overlay {
  position: absolute;
  background-color: #242731;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  filter: alpha(opacity=35);
  z-index: 1;
}

.coverhero-text {
  position: relative;
  display: table;
  height: 420px;
  overflow: hidden;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1000;
}

.coverhero-fulltext {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

// ==========================================================================
//   Shortcodes
// ==========================================================================

// Disclosure Shortcode
.disclosure {
  padding: 30px;
  font-size: .95em;
  font-style: italic;
  color: #49291f;
}

// Question Shortcode
.question {
  text-align:center;
  font-size: 1.3em;
}

// Question Shortcode
.infobox, .question {
  padding: 30px;
  border-radius: @border-radius-base;
  border: 1px solid #ddd;
  margin: 30px 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  &:hover {
    border: 1px solid #381e17;
  }
  .glyphicon {
    font-size: 2.5em;
    vertical-align:middle;
    margin-right: 10px;
    color: rgba(56,30,23,.8);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    margin-bottom: 10px;
    &:hover {
      color: rgba(56,30,23,1);
    }
  }
}

// ==========================================================================
//   Author
// ==========================================================================

.authorbox {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  .authorbio {
    padding-top: 10px;
  }
  .avatar {
    border-radius: 50%;
  }
  h3 {
    margin-top:0px;
  }
}

// ==========================================================================
//   Footer
// ==========================================================================

.content-info {
  background: #381e17;
  margin-top: 30px;
  p {
    color: #fff;
    margin-top: 10px;
  }
}

#menu-footer {
  list-style: none;
  color: #ccc;
  font-size: .95em;
  margin-top: 15px;
  padding-left: 0px;
  a {
    color: #ccc;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    float: left;
  }
  .delimiter {
    padding: 0 5px;
  }
}


// ==========================================================================
//   WordPress Generated Classes
//   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
// ==========================================================================

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



// ==========================================================================
//   Media Queries
// ==========================================================================

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
